<div id="calc">
  <p id="calc_display" ng-bind="$ctrl.displayData"></p>
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="#" class="button col1" ng-click="$ctrl.reset()">C</a></td>
      <td><a href="#" class="button col2" ng-click="$ctrl.setOperation('divide')">&divide;</a></td>
      <td><a href="#" class="button col3" ng-click="$ctrl.setOperation('multiple')">&times;</a></td>
      <td><a href="#" class="button col4" ng-click="$ctrl.setOperation('minus')">-</a></td>
    </tr>
    <tr>
      <td><a href="#" class="button col1" ng-click="$ctrl.number(7)">7</a></td>
      <td><a href="#" class="button col2" ng-click="$ctrl.number(8)">8</a></td>
      <td><a href="#" class="button col3" ng-click="$ctrl.number(9)">9</a></td>
      <td rowspan="2"><a href="#" class="button two_row col4" ng-click="$ctrl.setOperation('plus')">+</a></td>
    </tr>
    <tr>
      <td><a href="#" class="button col1" ng-click="$ctrl.number(4)">4</a></td>
      <td><a href="#" class="button col2" ng-click="$ctrl.number(5)">5</a></td>
      <td><a href="#" class="button col3" ng-click="$ctrl.number(6)">6</a></td>
    </tr>
    <tr>
      <td><a href="#" class="button col1" ng-click="$ctrl.number(1)">1</a></td>
      <td><a href="#" class="button col2" ng-click="$ctrl.number(2)">2</a></td>
      <td><a href="#" class="button col3" ng-click="$ctrl.number(3)">3</a></td>
      <td rowspan="2"><a href="#" class="button two_row col4" ng-click="$ctrl.getResult()">=</a></td>
    </tr>
    <tr>
      <td colspan="2"><a href="#" class="button two_col" ng-click="$ctrl.number(0)">0</a></td>
      <td><a href="#" class="button col3" ng-click="$ctrl.dot()">.</a></td>
    </tr>
  </table>
</div>
